<!DOCTYPE HTML>
<html>
	<head>
		<title>主页</title>
		<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<script src="/static/js/jquery.min.js"></script>
		<link rel="stylesheet" href="/static/css/jquery.bxslider.css" type="text/css" />
		<script src="/static/js/jquery.bxslider.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						 auto: true,
 						 autoControls: true,
						 minSlides: 4,
						 maxSlides: 4,
						 slideWidth:450,
						 slideMargin: 10
					});
				});
			</script>
			<script type="text/javascript">
				$(document).ready(function(){
									$('a[href^="#"]').on('click',function (e) {
									    e.preventDefault();
									    var target = this.hash,
									    $target = $(target);
									    $('html, body').stop().animate({
									        'scrollTop': $target.offset().top
									    }, 1000, 'swing', function () {
									        window.location.hash = target;
									    });
									});
								});
				</script>
		<!----start-top-nav-script---->
		<script type="text/javascript" src="/static/js/flexy-menu.js"></script>
		<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
		<!----//End-top-nav-script---->
		
		<!--start slider -->
	    <link rel="stylesheet" href="/static/css/fwslider.css" media="all">
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
		<script src="/static/js/fwslider.js"></script>
		<!--end slider -->
		<!---calender-style---->
		<link rel="stylesheet" href="/static/css/jquery-ui.css" />
		<!---//calender-style---->
		<link rel="stylesheet" href="/static/css/ihover.css" />
	</head>
	<body>
			<!---start-header---->
			<div class="top-header" id="header">
				<div class="wrap">
				<div class="clear"> </div>
			</div>
			</div>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="/index.html"><img src="/static/images/tourpal.png" title="voyage" /></a>
				</div>
			</div>
    	<div class="userbar">
    	<div class="ih-item circle effect1"><a href="../userprofile.html">
        <div class="spinner"></div>
        <div class="img"><img src="/static/images/d.jpg" alt="img"></div>
        </a></div>
            </div>
				<!--- start-top-nav---->
				<div class="wrap">
				<div class="top-nav">
						<ul class="flexy-menu thick orange">
							<li><a href="/index.html">主页</a></li>
							<li><a href="/destinations.html">路线推荐</a>
							<li><a href="/criuses.html">驴友匹配</a></li>
							<li class="active"><a href="/creategroup.html">发起组队</a></li>
							<li><a href="/group.html">队伍列表</a></li>
						</ul>
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="请输入你需要的内容..." type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
						
						<!----search-scripts---->
						<script src="/static/js/modernizr.custom.js"></script>
						<script src="/static/js/classie.js"></script>
						<script src="/static/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
				</div>

				<!--- //End-top-nav---->
				<div class="clear"> </div>
			</div>
			
			<!---//End-header---->
		</div>
	<div class="wrap2">
		<div style="margin-top:20px;"><h1 style="display:inline;">队伍信息</h1></div>
		<form style="margin:30px;" method="get">
  <div class="form-group">
    <label>队名：</label>
    <input class="form-control" placeholder="请输入你想创建的队名" type="text" name="team_name">
  </div>
  <div class="form-group">
    <label>宣言：</label>
    <input class="form-control" placeholder="请输入队伍的宣言" type="text" name="introduce">
  </div>

  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
				  });
				  </script>
				
	

  <div class="form-group">
				<label>日期:</label>
				<input class="form-control" id="datepicker" type="text" value="请选择日期" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请选择日期';}" name = "date">
			
		</div>
<div class="form-group">
		
				<label>城市:</label>
				<input class="form-control" type="text" placeholder="哈尔滨" name="city">
				</div>
  <div class="form-group">
    <label>具体地点：</label>
    <input class="form-control" placeholder="请输入本次旅途的地点" name="destination">
  </div>
  <div class="form-group">
    <label>方向：</label>
    <select name="select">
  		<option value = "0">自然风光</option>
  		<option value = "1">北国冰城</option>
  		<option value = "2">异国风情</option>
  		<option value = "3">现代人文</option>
	</select>
  </div>
  <button type="submit" class="btn btn-danger">创建</button>
</form>
</div>

	<div class="subfooter">
			<div class="wrap">
				<ul>
					<li><a href="../index.html">主页</a><span>::</span></li>
					<li><a href="../destinations.html">路线推荐</a><span>::</span></li>
					<li><a href="../criuses.html">驴友匹配</a><span>::</span></li>
					<li><a href="../creategroup.html">发起组队</a><span>::</span></li>
					<li><a href="../group.html">队伍列表</a></li>
					<div class="clear"> </div>
				</ul>
				<p class="copy-right">Copyright &copy; 2015.哈工大小司机 All rights reserved.</p>
				<a class="to-top" href="#header"><span> </span> </a>
			</div>
		</div>
		<!---//End-subfooter---->
		<!----//End-wrap---->
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>