<!DOCTYPE html>
<html>
<head>
    <title>路线推荐</title>
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.bxslider.css" type="text/css" />
    <script src="/static/js/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true,
                autoControls: true,
                minSlides: 4,
                maxSlides: 4,
                slideWidth: 450,
                slideMargin: 10
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();
                var target = this.hash,
                $target = $(target);
                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 1000, 'swing', function () {
                    window.location.hash = target;
                });
            });
        });
    </script>
    <style type="text/css">
        .dest-place-pic main_box user_style4 {
            float: left;
            padding-bottom: 5px;
            display: inline-block;
            position: absolute;
            width: 300px;
        }

        .picha {
            display: inline-block;
        }

        .destination-places-grid {
            padding-bottom: 20px;
        }

        .dest-place-opt {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            top: -20px;
        }

        .btn-default {
            color: #212122;
            border: none;
            border-radius: 0;
        }

            .btn-default:hover {
                color: #212122;
                border: none;
            }

        .dif {
            position: relative;
            background-color: #2C3E50;
            width: 100%;
            height: 60px;
            padding-top: 10px;
            margin-top: 20px;
        }

        .destination-places {
            position: relative;
        }
    </style>
    <!----start-top-nav-script---->
    <script type="text/javascript" src="/static/js/flexy-menu.js"></script>
    <script type="text/javascript">$(document).ready(function () { $(".flexy-menu").flexymenu({ speed: 400, type: "horizontal", align: "right" }); });</script>
    <!----//End-top-nav-script---->
    <!--start slider -->
    <link rel="stylesheet" href="/static/css/fwslider.css" media="all">
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/css3-mediaqueries.js"></script>
    <script src="/static/js/fwslider.js"></script>
    <!--end slider -->
    <!---calender-style---->
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <!---//calender-style---->
    <link rel="stylesheet" href="/static/css/ihover.css" />
</head>
<body>
    <!---start-header---->
    <div class="top-header" id="header">
        <div class="wrap">
            <div class="clear"> </div>
        </div>
    </div>
    <div class="header">
        <div class="wrap">
            <div class="logo">
                <a href="/index.html"><img src="/static/images/tourpal.png" title="voyage" /></a>
            </div>
        </div>
        <div class="userbar">
            <div class="ih-item circle effect1">
                <a href="../userprofile.html">
                    <div class="spinner"></div>
                    <div class="img"><img src="/static/images/d.jpg" alt="img"></div>
                </a>
            </div>
        </div>
        <!--- start-top-nav---->
        <div class="wrap">
            <div class="top-nav">
                <ul class="flexy-menu thick orange">
                    <li><a href="/index.html">主页</a></li>
                    <li class="active"><a href="/destinations.html">路线推荐</a>
                    <li><a href="/criuses.html">驴友匹配</a></li>
                    <li><a href="/creategroup.html">发起组队</a></li>
                    <li><a href="/group.html">队伍列表</a></li>
                </ul>
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="请输入你需要的内容..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>

                <!----search-scripts---->
                <script src="/static/js/modernizr.custom.js"></script>
                <script src="/static/js/classie.js"></script>
                <script src="/static/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!----//search-scripts---->
            </div>

            <!--- //End-top-nav---->
            <div class="clear"> </div>
        </div>

        <!---//End-header---->
    </div>
    <!---start-destinatiuons---->
    <div class="destinations">
        <div class="destination-head">
            <div class="wrap">
                <h3>路线推荐</h3>
            </div>

        </div>
        <div class="dif">
            <div class="col-xs-3">
                <a href="#" class="btn btn-block btn-lg btn-default">自然风光</a>
            </div>

            <div class="col-xs-3">
                <a href="#" class="btn btn-block btn-lg btn-default">北国冰城</a>
            </div>

            <div class="col-xs-3">
                <a href="#" class="btn btn-block btn-lg btn-default">异国风情</a>
            </div>

            <div class="col-xs-3">
                <a href="#" class="btn btn-block btn-lg btn-default">现代人文</a>
            </div>
        </div>
        <div class="destination-places">
            <div class="wrap">
                <div class="destination-places-head">
                    <h3>热门路线</h3>
                </div>
                <div class="destination-places-grids">
                    <div class="destination-places-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/dd7.jpg" title="place-name" style="max-height:250px;max-width:480px;" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>

                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li>索菲亚广场-索菲亚教堂-中央大街-防洪纪念塔-太阳岛-极地馆</li>
                                <li><a class="plain" href="#"><span> </span> 现代人文</a></li>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">参加组队>>></a></li>
                                <li><a class="d-price" href="#">了解更多>>></a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d88.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li> 伏尔加庄园-帽儿山-金龙山国家森林公园</li>
                                <li><a class="plain" href="#"><span> </span> 自然风光</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">参加组队>>></a></li>
                                <li><a class="d-price" href="#">了解更多>>></a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid last-d-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d2.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d3.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d1.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid last-d-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d5.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d6.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d5.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="destination-places-grid last-d-grid" onclick="location.href='#';">
                        <div class="picha">
                            <div class="dest-place-pic main_box user_style4" data-hipop="two-horizontal">
                                <img src="/static/images/d1.jpg" title="place-name" />
                                <a href="#" class="popup"> </a>
                                <a href="#" class="popup2"> </a>
                            </div>
                        </div>
                        <div class="dest-place-opt">
                            <ul class="dest-place-opt-fea">
                                <li><a class="hot" href="#"><span> </span> Hotel</a></li>
                                <li><a class="plain" href="#"><span> </span> Air ticket</a></li>
                                <li><a class="Breakfast" href="#"><span> </span> Break Fast</a></li>
                                <div class="clear"> </div>
                            </ul>
                            <ul class="dest-place-opt-cast">
                                <li><a class="d-place" href="#">Venice</a></li>
                                <li><a class="d-price" href="#">Starting Form 250$</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
        <!---start-destinations-pagenation---->
        <div class="destination-pagenate">
            <div class="wrap">
                <ul>
                    <li><a class="d-next" href="#">LOAding More</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
        </div>
        <!---//End-destinations-pagenation---->
        <!---loading-more-script--->
        <!---//loading-more-script--->
    </div>
    <!----//End-offers---->
    <!----//End-images-slider---->
    <!----//End-footer---->
    <!---start-subfooter---->
    <div class="subfooter">
        <div class="wrap">
            <ul>
                <li><a href="../index.html">主页</a><span>::</span></li>
                <li><a href="../destinations.html">路线推荐</a><span>::</span></li>
                <li><a href="../criuses.html">驴友匹配</a><span>::</span></li>
                <li><a href="../creategroup.html">发起组队</a><span>::</span></li>
                <li><a href="../group.html">队伍列表</a></li>
                <div class="clear"> </div>
            </ul>
            <p class="copy-right">Copyright &copy; 2015.哈工大小司机 All rights reserved.</p>
            <a class="to-top" href="#header"><span> </span> </a>
        </div>
    </div>
    <!---//End-subfooter---->
    <!----//End-wrap---->
    <div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>