<!DOCTYPE html>
<html>
<head>
<title>装备推荐</title>

<link href="/static/css/styletx.css" rel="stylesheet" type="text/css" media="all" />	

<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- start menu -->
<link href="/static/css/memenutx.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/memenutx.js"></script>
<script src="/static/js/simpleCarttx.min.js"> </script>
<!-- slide -->
<script src="/static/js/responsiveslidestx.min.js"></script>




 <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<script src="/static/js/jquery.min.js"></script>
		<link rel="stylesheet" href="/static/css/jquery.bxslider.css" type="text/css" />
		<script src="/static/js/jquery.bxslider.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						 auto: true,
 						 autoControls: true,
						 minSlides: 4,
						 maxSlides: 4,
						 slideWidth:450,
						 slideMargin: 10
					});
				});
			</script>
			<script type="text/javascript">
				$(document).ready(function(){
									$('a[href^="#"]').on('click',function (e) {
									    e.preventDefault();
									    var target = this.hash,
									    $target = $(target);
									    $('html, body').stop().animate({
									        'scrollTop': $target.offset().top
									    }, 1000, 'swing', function () {
									        window.location.hash = target;
									    });
									});
								});
				</script>
		<!----start-top-nav-script---->
		<script type="text/javascript" src="/static/js/flexy-menu.js"></script>
		<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
		<!----//End-top-nav-script---->
		
		<!--start slider -->
	    <link rel="stylesheet" href="/static/css/fwslider.css" media="all">
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
		<script src="/static/js/fwslider.js"></script>
		<!--end slider -->
		<!---calender-style---->
		<link rel="stylesheet" href="/static/css/jquery-ui.css" />
		<!---//calender-style---->
		<link rel="stylesheet" href="/static/css/ihover.css" />
</head>
<body>
<!--header-->
	<div class="top-header" id="header">
				<div class="wrap">
				<div class="clear"> </div>
			</div>
			</div>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="/index.html"><img src="/static/images/tourpal.png" title="voyage" /></a>
				</div>
			</div>
    	<div class="userbar">
    	<div class="ih-item circle effect1"><a href="../userinfo.html">
        <div class="spinner"></div>
        <div class="img"><img src="/static/images/d.jpg" alt="img"></div>
        </a></div>
            </div>
				<!--- start-top-nav---->
				<div class="wrap">
				<div class="top-nav" >
						<ul class="flexy-menu thick orange">
							<li><a href="/index.html">主页</a></li>
							<li><a href="/destinations.html">景点推荐</a>
							<li><a href="/criuses.html">驴友匹配</a></li>
							<li class="active"><a href="/match.html">装备推荐</a></li>
							<li><a href="/group.html">队伍列表</a></li>
						</ul>
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="请输入你需要的内容..." type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
						
						<!----search-scripts---->
						<script src="/static/js/modernizr.custom.js"></script>
						<script src="/static/js/classie.js"></script>
						<script src="/static/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
				</div>

				<!--- //End-top-nav---->
				<div class="clear"> </div>
			</div>
		</div>




		<div class="container">
			<div class="head-top">
		 <div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					  
				      <li><a  href="#">Men</a></li>
				    <li class="grid"><a  href="#">	Women</a></li>
			  </ul> 
			</div>
		
			<!---pop-up-box---->
					  <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>    
					<link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="/static/js/jquerytx.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
						<div class="login">
							<input type="submit" value="">
							<input type="text" value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">		
						</div>
						<p>	Shopping</p>
					</div>				
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>			
	<!---->		
		</div>
	</div>
</div>
<!--banner-->
<div class="banner">
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive"	src="/static/images/aa/ba1.jpg" alt="">
	</div>
	<div class="col-sm-6 matter-banner">
	 	<div class="slider">
	    	<div class="callbacks_container">
	      		<ul class="rslides" id="slider">
	        		<li>
	          			<img src="/static/images/aa/1.jpg" alt="">
	       			 </li>
			 		 <li>
	          			<img src="/static/images/aa/2.jpg" alt="">   
	       			 </li>
					 <li>
	          			<img src="/static/images/aa/1.jpg" alt="">
	        		</li>	
	      		</ul>
	 	 	</div>
		</div>
	</div>
	<div class="col-sm-3 banner-mat">
		<img class="img-responsive" src="/static/images/aa/ba.jpg" alt="">
	</div>
	<div class="clearfix"> </div>
</div>
<!--//banner-->
<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top">
			<h1>Recent Products</h1>
			<div class="content-top1">
				<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi.png" alt="" />
						</a>
						<h3><a href="single.html">Tops</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>	
			<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi2.png" alt="" />
						</a>
						<h3><a href="single.html">T-Shirt</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi4.png" alt="" />
						</a>
						<h3><a href="single.html">Shirt</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi1.png" alt="" />
						</a>
						<h3><a href="single.html">Tops</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="clearfix"> </div>
			</div>	
			<div class="content-top1">
				<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi3.png" alt="" />
						</a>
						<h3><a href="single.html">Shirt</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi5.png" alt="" />
						</a>
						<h3><a href="single.html">T-Shirt</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi6.png" alt="" />
						</a>
						<h3><a href="single.html">Jeans</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
							<img class="img-responsive" src="/static/images/aa/pi7.png" alt="" />
						</a>
						<h3><a href="single.html">Tops</a></h3>
						<div class="price">
								<h5 class="item_price">$300</h5>
								<a href="#" class="item_add">Add To Cart</a>
								<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>	
			<div class="clearfix"> </div>
			</div>	
		</div>
	</div>
</div>

			<div class="subfooter">
			<div class="wrap">
				<ul>
				<li><a href="../index.html">主页</a><span>::</span></li>
					<li><a href="../destinations.html">景点推荐</a><span>::</span></li>
					<li><a href="../criuses.html">驴友匹配</a><span>::</span></li>
					<li><a href="../match.html">装备推荐</a><span>::</span></li>
					<li><a href="../group.html">队伍列表</a></li>
					<div class="clear"> </div>
				</ul>
				<p class="copy-right">Copyright &copy; 2015.哈工大小司机 All rights reserved.</p>
				<a class="to-top" href="#header"><span> </span> </a>
			</div>
		</div>
		<!---//End-subfooter---->
		<!----//End-wrap---->
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>


<!--//footer-->
</body>
</html>